.priceLinear {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-bottom: 2px solid;

  h3 {
	font-family: "montserrat", sans-serif;
	color: #fff;
	z-index: 2;
	position: relative;
	margin: 0;
  }

  h1 {
	color: #fff;
	margin: 0;

	span {
		color: #fff;
	  transition: ease-in-out 400ms;
	}
  }
}

@media only screen and (max-width: 768px) {
  .priceLinear {
	h3 {
	  font-family: "Jost", sans-serif;
	  color: #fff;
	  z-index: 2;
	  position: relative;
	  font-size: 20px;
	}

	h1 {
	  color: #fff;
	  margin: 0;
	  font-size: 32px;
	  min-width: 100px;
	  text-align: right;
	}
  }
}

.nails {
  border-bottom-color: #D56681;

  &:hover {
	h1 {
	  span {
		color: #D56681;
	  }
	}
  }
}

.lashes {
	border-bottom-color: #D56681;

	&:hover {
		h1 {
			span {
				color: #D56681;
			}
		}
	}
}

.spa {
	border-bottom-color: #D56681;

	&:hover {
		h1 {
			span {
				color: #D56681;
			}
		}
	}
}

.body {
	border-bottom-color: #D56681;

	&:hover {
		h1 {
			span {
				color: #D56681;
			}
		}
	}
}

.face {
	border-bottom-color: #D56681;

	&:hover {
		h1 {
			span {
				color: #D56681;
			}
		}
	}
}

.makeup {
	border-bottom-color: #D56681;

	&:hover {
		h1 {
			span {
				color: #D56681;
			}
		}
	}
}