.services {
  margin-top: 20%;

  .service {
    display: block;
    margin: 0 auto;

    svg {
      display: block;
      width: 80%;
      height: auto;
      margin: 0 auto;
    }

    h4 {
      font-size: 24px;
      margin: 24px auto;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .nails {
    color: #D56681
  }

  .lashes {
    color: #D56681
  }

  .body {
    color: #D56681
  }

  .face {
    color: #D56681
  }

  .spa {
    color: #D56681
  }

  .makeup {
    color: #D56681
  }
}

@media only screen and (max-width: 500px) {
  .services {
    .service {
      h4 {
        font-size: 16px;
        margin: 16px auto;
      }
    }
    .face {
      margin-top: 32px;
    }

    .body {
      margin-top: 32px;
    }

    .makeup {
      margin-top: 32px;
    }
  }
}
