body {
  font-family: "Jost", serif !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: unset !important;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.no-scroll {
  overflow: hidden;
}

tspan, input, textarea {
  font-family: "Jost", serif
}

html {
  font: 112.5%/1.45em "Jost", serif;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

small {
  font-size: 80%;
}


img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: "Jost", serif;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  //fix for bluette bkg on chrome mobile
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
  }
}

optgroup {
  font-weight: 700;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

body {
  color: #fff;
}

ul.list-unstyled {
  margin: 0;
  padding: 0;

  li {
	list-style-type: none;
  }
}

a.link-no-decoration {
  text-decoration: none;
}

.mt-80 {
  margin-top: 80px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.m-80 {
  margin: 80px 0 !important;
}

.mt-120 {
  margin-top: 120px !important;
}

.mb-120 {
  margin-bottom: 120px !important;
}

.m-120 {
  margin-top: 120px !important;
  margin-bottom: 120px !important;
}

/** Home **/
.homeWrapper {
  min-height: 100vh;
}

@media only screen and (max-width: 500px) {

}

/** Services **/
.wrapper {
  padding: 120px 0 80px 0;
  background: #E9CEC0;
  min-height: 100vh;
}

h1 {
  font-family: "EB Garamond", sans-serif !important;
  font-size: 60px;
  font-weight: 500;
}

h2 {
  font-family: "EB Garamond", sans-serif !important;
  font-size: 48px;
  font-weight: 500;
}

h3 {
  font-family: "EB Garamond", sans-serif !important;
  font-size: 36px;
  font-weight: 500;
}

p {
  font-family: "Jost", sans-serif !important;
  font-size: 24px;
  color: #212121;
}

ul {
  padding: 0 0 0 24px;
  font-size: 24px;
  color: #212121;
  font-family: "Jost", sans-serif !important;

  li {
    color: #212121;
  }
}

.price-title {
  font-size: 54px;
}

.service-full-image {
  max-height: 550px;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .textMoving {
	h1 {
	  display: block;
	  font-size: 40px;
	  line-height: 56px;
	  text-align: left;
	}
  }
  .service {
	.price-title {
	  font-size: 42px;
	}

	h1 {
	  font-size: 48px;
	}

	h2 {
	  font-size: 36px;
	}

	h3 {
	  font-size: 28px;
	}

	p {
	  font-size: 18px;
	}

	ul {
	  font-size: 18px;
	}
  }
}

/** hero **/
.hero {
  background-size: cover;
  background-position: top;
  min-height: 760px;
  position: relative;
  padding-top: 80px;
  display: flex;
  align-items: center;
  h1{
    font-size: 60px;
    line-height: 78px;
    color: #fff;
    text-align: center;
    margin: 0 auto 80px;
    max-width: 800px;
  }
}

/** Footer **/
footer {
  background: #AB6878;
  color: #fff;
  font-size: 12px;
  padding: 8px 0;
  text-align: center;
}

/* STARTING PAGE TRANSITION */
#___loader {
  display: none;
}
+/* STARTING PAGE TRANSITION */
.my-btn{
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px 32px 14px;
}

.primary-btn{
  color: #000000;
  background-color: #ffffff;
}

.secondary-btn{
  color: #fff;
  background-color:transparent;
}