@import '../assets/styles/fonts';
@import '../assets/styles/reset';
@import '../assets/styles/generic';
@import '../assets/styles/buttons';

@media only screen and (max-width: 768px) {
  .hero {
    min-height: 480px;
    h1 {
      font-size: 30px;
      margin: 0 auto 48px;
    }
    p{
      font-size: 15px;
    }
  }
  .small-hero {
    min-height: 360px;
    h1 {
      font-size: 30px;
      margin: 0 auto 24px;
    }
    p{
      font-size: 15px;
    }
  }
  .section-big{
    padding: 64px 0;
  }
  .btn-home{
    margin: 0 auto!important;
  }

  .navigation{
    width: 100%;
  }

  /** Contacts **/
  .middle-divided{
    display: flex;
    flex-direction: column-reverse;
    height: 650px;
    .navigation{
      width: 100%;
      max-height: 400px;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #f6ebe7;
    }

    .imageSide{
      overflow: hidden;
      width: 100% !important;
      height: 250px;
    }
  }
}