@import '../assets/styles/fonts';
@import '../assets/styles/reset';
@import '../assets/styles/generic';
@import '../assets/styles/buttons';

@media only screen and (max-width: 768px) {
  .hero {
    min-height: 480px;
    h1 {
      font-size: 30px;
      margin: 0 auto 48px;
    }
    p{
      font-size: 15px;
    }
  }
  .small-hero {
    min-height: 360px;
    h1 {
      font-size: 30px;
      margin: 0 auto 24px;
    }
    p{
      font-size: 15px;
    }
  }
  .section-big{
    padding: 64px 0;
  }
  .btn-home{
    margin: 0 auto!important;
  }
}